# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# mypy
.mypy_cache/

# C extensions
*.so

# Virtual environments
*.env
*.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
ENV/
env/
venv/
venv.bak/
ENV.bak/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Pyright type checker
.pyright/

# Pylint config
.pylintrc

# Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
